@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
$cRed: #B01736;
$cGray: #444444;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 6095px;
	background: #F5F5F5;
}

.main {
	font-family: 'Proxima Nova Condensed', sans-serif;
}

.indents {
	margin: 100px 0;
}

.proportions {
	margin: 0 auto;
	width: 1250px;
}

.header {
	font-weight: 600;

	.header-title {
		display: flex;
		align-items: center;
		padding: 0 70px;
		height: 85px;
		border: 1px solid #D9D9D9;

		.header-title__nav {
			display: flex;
			justify-content: space-between;
			width: 688px;
			margin-left: 297px;
			height: 25px;
			align-items: center;
			padding: 5px 0;

			a {
				font-size: 18px;
				line-height: 20px;
				font-weight: inherit;
				color: $cGray;
				text-decoration: none;
				padding: 5px 0;
				border-bottom: 1px solid #F5F5F5;
				// transition: ease 1s;

				&:hover {
					padding: 4px 0;
					transform: scale(1);
					border-bottom: 1px solid $cGray;
				}
			}
		}
	}

	.header__banner {
		background: url(./img/header-banner.png);
		height: 600px;
		width: 1250px;

		.heade-banner__content {
			width: 100%;
			padding: 158px 471px 274px 70px;

			.header-banner__content-title {
				font-weight: inherit;
				color: $cGray;
				font-size: 56px;
				line-height: 56px;
				height: 168px;
				width: 709px;
				left: 0px;
				top: 0px;
			}

			.header-banner__btn {
				cursor: pointer;
				margin-top: 60px;
				background: $cRed;
				width: 110px;
				height: 56px;
				border-radius: 8px;
				padding: 18px 28px;
				transition: ease .5s;

				span {
					color: #ffffff;
					font-weight: inherit;
					font-size: 18px;
					line-height: 20px;
				}

				&:hover {
					background: #D43152;
				}
			}
		}
	}
}

.main-container {
	margin-top: 100px;
	font-family: 'Proxima Nova Condensed', sans-serif;
	font-weight: 600;

	.about-company {
		padding: 99px 110px;
		background: #ffffff;
		margin-left: 70px;
		margin-right: 70px;
		width: 1110px;
		height: 350px;
		box-shadow: 0px 0px 32px 0px #00000014;

		.about-company__text {
			color: $cGray;
			height: 152px;
			width: 890px;
			left: 110px;
			top: 99px;
			font-family: inherit;
			font-size: 32px;
			font-weight: inherit;
			line-height: 38px;
			letter-spacing: 0em;
			text-align: center;

			span {
				color: $cRed;
			}
		}
	}

	.about-info-number {
		height: 287px;
		width: 889px;
		margin-right: 181px;
		margin-left: 180px;

		.wrapper {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.wrapper__item {
				display: flex;
				justify-content: space-between;
				width: 100%;

				.item-info {
					.item-info__title {
						font-family: inherit;
						font-size: 80px;
						font-weight: inherit;
						line-height: 64px;
						letter-spacing: 0em;
						text-align: left;
						color: #A30C33;
					}

					span {
						font-size: 18px;
						font-weight: 400;
						line-height: 27px;
						letter-spacing: 0em;
						text-align: left;
						color: $cGray;
					}
				}
			}

			.wrapper-indents {
				margin-top: 80px;
				margin-left: 147px;
				margin-right: 150px;
			}
		}
	}
}

// display: flex;
// justify-content: space-between;
// width: 100%;