@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
$cRed: #B01736;
$cGray: #444444;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	font-size: 18px;
	line-height: 20px;
	color: $cGray;
	text-decoration: none;
}

body {
	height: 6095px;
	background: #F5F5F5;
}

.main {
	font-family: 'Proxima Nova Condensed', sans-serif;
}

.indents {
	margin: 100px 0;
}

.proportions {
	margin: 0 auto;
	width: 1250px;
}

.header {
	font-weight: 600;

	.header-title {
		display: flex;
		align-items: center;
		padding: 0 70px;
		height: 85px;
		border: 1px solid #D9D9D9;

		.header-title__nav {
			display: flex;
			justify-content: space-between;
			width: 688px;
			margin-left: 297px;
			height: 25px;
			align-items: center;
			padding: 5px 0;

			a {
				font-weight: inherit;
				padding: 5px 0;
				border-bottom: 1px solid #F5F5F5;

				&:hover {
					padding: 4px 0;
					transform: scale(1);
					border-bottom: 1px solid $cGray;
				}
			}
		}
	}

	.header-banner {
		background: url('../img/header-banner.svg');
		height: 600px;
		width: 1250px;

		.header-banner__content {
			width: 100%;
			padding: 158px 471px 274px 70px;

			.header-banner__content--title {
				font-weight: inherit;
				color: $cGray;
				font-size: 56px;
				line-height: 56px;
				height: 168px;
				width: 709px;
				left: 0px;
				top: 0px;
			}

			.header-banner__content--btn {
				cursor: pointer;
				margin-top: 60px;
				background: $cRed;
				width: 110px;
				height: 56px;
				border-radius: 8px;
				padding: 18px 28px;

				span {
					color: #ffffff;
					font-weight: inherit;
					font-size: 18px;
					line-height: 20px;
				}

				&:hover {
					background: #D43152;
				}
			}
		}
	}
}

.main-container {
	margin-top: 100px;
	font-family: 'Proxima Nova Condensed', sans-serif;
	font-weight: 600;

	.about-company {
		padding: 99px 110px;
		background: #ffffff;
		margin-left: 70px;
		margin-right: 70px;
		width: 1110px;
		height: 350px;
		box-shadow: 0px 0px 32px 0px #00000014;

		.about-company__text {
			color: $cGray;
			height: 152px;
			width: 890px;
			left: 110px;
			top: 99px;
			font-family: inherit;
			font-size: 32px;
			font-weight: inherit;
			line-height: 38px;
			letter-spacing: 0em;
			text-align: center;

			span {
				color: $cRed;
			}
		}
	}

	.about-info-number {
		height: 287px;
		width: 889px;
		margin-right: 181px;
		margin-left: 180px;

		.wrapper {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.wrapper__item {
				display: flex;
				justify-content: space-between;
				width: 100%;

				.item-info {
					.item-info__title {
						font-family: inherit;
						font-size: 80px;
						font-weight: inherit;
						line-height: 64px;
						letter-spacing: 0em;
						text-align: left;
						color: #A30C33;
					}

					span {
						font-size: 18px;
						font-weight: 400;
						line-height: 27px;
						letter-spacing: 0em;
						text-align: left;
						color: $cGray;
					}
				}
			}

			.wrapper-indents {
				margin-top: 80px;
				margin-left: 147px;
				margin-right: 150px;
			}
		}
	}

	.map {
		height: 775px;

		.map-nav {
			width: 100%;
			height: 80px;
			background: #FFFFFF;
			display: flex;
			align-items: center;
			padding: 0 70px;
			justify-content: space-between;

			.slidebar {
				user-select: none;
				width: 177px;
				display: flex;
				align-items: center;
				cursor: pointer;
				justify-content: space-between;


				span {
					font-family: inherit;
					font-size: 24px;
					font-weight: inherit;
					line-height: 24px;
					letter-spacing: 0em;
					color: $cGray;

					&:hover {}
				}

				.rectangle-no-active {
					background: url('../img/Rectangle_no-active.svg') no-repeat;
					height: 13px;
					width: 22px;
				}

				.rectangle-active {
					background: url('../img/Rectangle_active.svg') no-repeat;
					height: 13px;
					width: 22px;
				}
			}

			.nav-container {
				display: flex;
				height: 100%;
				align-items: center;
				width: 736px;
				justify-content: space-between;

				a {
					display: flex;
					align-items: center;
					height: 100%;
					border-bottom: 3px solid #ffffff;

					&:hover {
						color: #A30C33;
					}

					&:active {
						border-bottom: 3px solid #A30C33;
					}
				}
			}

		}

		.map__branch {
			margin-top: 90px;
			background: url('../img/map-branch.png');
			height: 599.58px;
			width: 1190px;
			left: 30px;
		}
	}

	.mission {
		background: #CB0F41;
		height: 471px;

		.mission-content {
			position: relative;
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;

			.pattern {
				z-index: 1;
				display: flex;
				height: 100%;
				align-items: center;
				position: absolute;
				width: 100%;
				justify-content: space-between;
				flex-direction: row-reverse;
				overflow: hidden;

				.mission-content__r-pattern {
					position: absolute;
					right: -50px;
					width: 348.05px;
					height: 376.95px;
					background: url('../img/smission_r-pattern.png') no-repeat;
					opacity: 40%;
				}

				.mission-content__l-pattern {
					position: absolute;
					left: 0px;
					width: 348.05px;
					height: 376.95px;
					background: url('../img/smission_l-pattern.png') no-repeat;
					opacity: 40%;
				}
			}

			.mission-content__title {
				z-index: 5;
				width: 1110px;
				font-family: inherit;
				color: #FFFFFF;
				font-weight: inherit;
				text-align: center;

				h4 {
					font-weight: inherit;
					font-size: 56px;
					line-height: 56px;
					margin-bottom: 40px;
				}

				span {
					display: inline-block;
					width: 98%;
					font-size: 32px;
					font-weight: 400;
					line-height: 48px;
					text-align: center;
				}
			}
		}
	}

	.directions {
		height: 936px;

		.directions__title {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 55px;

			h4 {
				font-family: inherit;
				font-size: 56px;
				font-weight: inherit;
				line-height: 56px;
				color: $cGray;
			}
		}

		.directions__banner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			height: 825px;
			align-content: space-between;

			.directions__banner--solutions {
				background: url('../img/solutions.svg');
			}

			.directions__banner--cybersecurity {
				background: url('../img/cybersecurity.svg');
			}

			.directions__banner--import-substitution {
				background: url('../img/import-substitution.svg');
			}

			.directions__banner--cloud-solutions {
				background: url('../img/cloud-solutions.svg');
			}

			.directions__banner--development {
				background: url('../img/development.svg');
			}

			.directions__banner--tech-support {
				background: url('../img/tech-support.svg');
			}

			.banner-size {
				position: relative;
				cursor: pointer;
				height: 260px;
				width: 615px;
				z-index: 1;

				.banner-text {
					padding-left: 20px;
					display: flex;
					align-items: center;
					z-index: 2;
					position: absolute;
					height: 80px;
					width: 100%;
					background-color: rgba(45, 54, 83, 0.6);
					bottom: 0;
					transition: ease .7s;

					span {
						z-index: 3;
						color: #FFFFFF;
						font-family: inherit;
						font-size: 24px;
						font-weight: inherit;
						line-height: 24px;
						position: absolute;
					}
				}

				.banner-text__open {
					display: flex;
					height: 100%;
					padding-top: 28px;
					align-items: flex-start;
					transition: ease .7s;
				}
			}
		}
	}
}